<!-- views/partials/head.ejs -->

	<meta charset="UTF-8">
    <title>Mid Atlantic Skateparks</title>
       <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 