<!-- views/partials/header.ejs -->
<!-- Navigation -->
    <section class="navigation">
        <div class="nav-container">
          <div class="brand">
            <a class="navbar-brand" href="/">Mid-Atlantic Skateparks</a>
          </div>

          <nav>
          <!-- mobile nav -->
          <div class="nav-mobile">
            <a id="nav-toggle" href="#"><span></span></a>
          </div>
          <!-- desktop nav -->
              <ul class="nav-list">
                <li>
                  <a href="/">Park Directory </a>
                </li>
                <li>
                  <a href="/create">Add New Park</a>
                </li>
                <li>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
                <li>
                  <a href="/register">Register</a>
                </li>
              </ul>
          </nav>
        </div>
    </section>
