<!-- views/partials/head.ejs -->

	<meta charset="UTF-8">
    <title>Mid Atlantic Skateparks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mid Atlantic Skatepark Directory">
    <meta name="HandheldFriendly" content="True">
 	<meta name="MobileOptimized" content="320">
       
       
		