<!-- views/partials/regForm.ejs -->

<form class="form-signin" role="form" action="/register" method="post" >
      <input class="form-control" type="text" name="email" placeholder="Your E-Mail"/>
      <input class="form-control" type="text" name="username" placeholder="Your Username"/>
      <input class="form-control" type="password" name="password" placeholder="Your Password"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
 </form>