<!-- views/partials/regForm.ejs -->

<form class="form-signin" role="form" action="/register" method="post" >
	<div class="row">
	  <label class="sr-only" for="email">E-Mail:</label>
      <input class="form-control" id="email" type="text" name="email" placeholder="Your E-Mail"/>
    </div>
    <div class="row">
      <label class="sr-only" for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" placeholder="Your Username"/>
    </div>
    <div class="row">
      <label class="sr-only" for="pass">Password</label>
      <input class="form-control" id="pass" type="password" name="password" placeholder="Your Password"/>
   	</div>
    <div class="row">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
 </form>