<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="../../stylesheets/main.css">
    <% include ../../partials/head %>
  </head>
  <body>
    <header>
      <% include ../../partials/header %>
    </header>
    <div class="container">
    <div class="jumbotron">
      <h1>Pennsylvania Skateparks</h1>
      <% if(parks.length>0) { %>
      <div>
          <ul>
          <% for(var i=0; i<parks.length;i++){if(parks[i].state == "PA"){%>
              <li><a href="/show/<%= parks[i]._id%>"><%= parks[i].name%></a></li> 
          <% }} %>
          </ul>
          <% } %>
          </ul>
      </div>
      <div><h2><a href="/">Back to States.</a></h2></div>
    </div>
    </div>
    <footer class="row clearfix">
        <% include ../../partials/footer %>
    </footer>
    <% include ../../partials/scripts %>
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </body>
</html>