.btn {
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #444);
  background-image: -moz-linear-gradient(top, #222, #444);
  background-image: -ms-linear-gradient(top, #222, #444);
  background-image: -o-linear-gradient(top, #222, #444);
  background-image: linear-gradient(to bottom, #222, #444);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #c2c2c2;
  text-decoration: none;
}