<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
      <main>
      <div class="intro m-all t-all d-all">
        <h1>You must log in to add a new park</h1>
      </div>  
          <div class="form-container">
            <form  role="form" action="/login" method="POST">
              <h2 class="form-signin-heading">Please sign in</h2>
              <div class="form-elem">
              <label class="sr-only" for="inputEmail">Username:</label>
              <input class="form-control" type="text" name="username" id="inputEmail" placeholder="Username" required="required" autofocus="autofocus"/>
              </div>
              <div class="password">
              <label class="sr-only" for="inputPassword">Password:</label>
              <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password"/>
              </div>
              <button class="btn" type="submit">LOGIN</button>
            </form>
            
          </div>
          <h2>Invalid username or password.</h2>
      <p>If you are not a user click <a href="/register">here</a> to register</p>
    </main>
    <footer class="m-all t-all d-all">
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </body>
</html>