<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="intro m-all d-all t-all">
        <h1>New user registration</h1>
        <p>Register with the form below to contribute parks.</p>
      </div>

        <div class="form-container m-all d-all t-all">
            <% include ../partials/regForm %>
        </div>

    </main>
    <footer class="m-all t-all d-all">
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </body>
</html>