<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../stylesheets/base.css">
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
    <div class="jumbotron">
      <h1>User Registration </h1>
      <h2>Register to add new parks.</h2>
        <% include ../partials/regForm %>
    </div>
    </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </body>
</html>