<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../../stylesheets/main.css">
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main> 
      <div class="intro m-all t-all d-all">
        <h1>Mid-Atlantic Skatepark Directory</h1>
        <p>This website was developed to create a directory for all public skateparks in the mid-atlantic area. Areas covered are New Jersey, Delaware, Maryland, and Pennsylvania. This site depends on users to submit parks so feel free to register and start submitting parks. 
        </p>
      </div>

      <div class="dir-container m-all t-all">   
          <div class="m-all t-all d-1of2">
            <h2>Choose a state</h2>
            <div>
              <ul>
                <li><h2><a href="/states/nj">New Jersey</a></h2></li>
                <li><h2><a href="/states/de">Delaware</a></h2></li>
                <li><h2><a href="/states/pa">Pennsylvania</a></h2></li>
                <li><h2><a href="/states/md">Maryland</a></h2></li>       
              </ul>
            </div>
          </div>
          <% var parkLocs = JSON.stringify(parks) %>
          <input type="hidden" value="<%= parkLocs %>"" id="parkLocs">

          <!-- google maps -->
          <div class="m-all t-all d-1of2 map-container">
            <div id="map"></div>
          </div>
        </div>
      </main>
    <footer class="m-all t-all d-all">
        <div>
        <% include ../partials/footer %>
        </div>
    </footer>
    <% include ../partials/scripts %>
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </body>
</html>