<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
      <h1>Choose a state</h1>
      <div>
        <ul>
          <li><h2><a href="/parks/states/nj">New Jersey</a></h2></li>
          <li><h2><a href="/parks/states/de">Delaware</a></h2></li>
          <li><h2><a href="/parks/states/pa">Pennsylvania</a></h2></li>
          <li><h2><a href="/parks/states/md">Maryland</a></h2></li>       
        </ul>
      </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>